* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    user-select: none;
    font-family: var(--font-main);
    background-color: var(--color-bg);
    color: var(--color-text-main);
}

html, body {
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: var(--color-text-main);
    outline: none;
}
